@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*-------------------------------------------------------------*/
/*                      My Styles                              */
/*-------------------------------------------------------------*/

/*.my-container {
    border: 2px solid black;
}

.my-row {
    border: 2px solid red;
}

.my-col {
    border: 2px solid blue;
}*/

/*-------------------------------------------------------------*/
/*                     Global styles                           */
/*-------------------------------------------------------------*/

body {
    background-color: black;
}

.vertical-center {
    text-align: center;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #000;
}

/*-------------------------------------------------------------*/
/*                         Header                              */
/*-------------------------------------------------------------*/

header {
    background-color: #e0a224;
}

#header-row {
    height: 100px;
    border-bottom: 6px solit black;
}

#home-icon-container {
    border: solid black;
    border-right-width: 3px;
}

#tutorial-icon-container {
    border: solid black;
    border-left-width: 3px;
}

#home-link {
    width: 75px;
    height: 75px;
}

#home-icon {
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;

    margin-top: 20px;
}

#home-icon:hover {
    filter: saturate(4.2);
}

#turorial-icon {
    font-size: 50px;
    color: black;

    margin-top: 20px;
}

#turorial-icon:hover {
    color: red;
}

/*-------------------------------------------------------------*/
/*                        Game Area                            */
/*-------------------------------------------------------------*/

button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 52px;
}

#game-area-container {
    margin-top: 20px;
}

#color-button-area {
    width: 450px;
    height: 450px;
}

#start-button {
    background-color: #e0a224;

    width: 200px;
    height: 200px;
    border: 10px solid black;
    border-radius: 50%;

    position: relative;
    right: 26%;
    z-index: 1000;
    float: right;
    top: -158%;
}

.color-area {
    width: 220px;
    height: 220px;

    border: solid black;
}

#red-button {
    border-width: 10px 5px 5px 10px;
    border-top-left-radius: 220px;

    margin-top: 4px;

    background-color: #ab0a0a;
}

#blue-button {
    border-width: 10px 10px 5px 5px;
    border-top-right-radius: 220px;

    margin-top: 4px;

    background-color: #080694;
}

#green-button {
    border-width: 5px 5px 10px 10px;
    border-bottom-left-radius: 220px;

    background-color: #096315;
}

#yellow-button {
    border-width: 5px 10px 10px 5px;
    border-bottom-right-radius: 220px;

    background-color: #979908;
}

/*------------------- Game color area for small screens --------------------*/
@media screen and (max-width: 600px) {
    #color-button-area {
        width: 350px;
        height: 350px;
    }

    .color-area {
        width: 175px;
        height: 175px;
    }

    #red-button {
        border-width: 10px 5px 5px 10px;
        border-top-left-radius: 175px;
    }

    #blue-button {
        border-width: 10px 10px 5px 5px;
        border-top-right-radius: 175px;
    }

    #green-button {
        border-width: 5px 5px 10px 10px;
        border-bottom-left-radius: 175px;
    }

    #yellow-button {
        border-width: 5px 10px 10px 5px;
        border-bottom-right-radius: 175px;
    }

    #start-button {
        width: 140px;
        height: 140px;

        top: -173%;
        right: 28%;
    }
}

/*------------------- Mode buttons --------------------*/

.mode-btn {
    width: 250px;
    height: 125px;

    border: 3px solid rgb(174, 168, 168);
    border-radius: 50px;

    background-color: #000;

    margin-top: 35%;
    margin-left: 20%;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: rgb(174, 168, 168);
}

.mode-btn:hover {
    border: 3px solid #000;

    background-color: #e0a224;
    color: #000;
}

@media screen and (max-width: 1300px) {
    .mode-btn {
        margin-left: 10%;
        font-size: 48px;
    }
}

@media screen and (max-width: 1200px) {
    .mode-btn {
        width: 150px;
        height: 75px;
        font-size: 32px;
    }
}

@media screen and (max-width: 990px) {
    .mode-btn {
        margin: 10px;
    }
}

@media screen and (max-width: 600px) {
    .mode-btn {
        width: 100px;
        height: 50px;
        font-size: 18px;
    }
}

/*-------------------------------------------------------------*/
/*                        Score Area                           */
/*-------------------------------------------------------------*/

#score-container {
    height: 100%;
}

.score-tag {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 46px;

    color: #fff;
}

.score-holder {
    margin-top: 15px;

    display: inline-block;
    height: 100px;
    width: 200px;
    border: 6px solid black;
    border-radius: 50px;

    background-color: #fff;

    line-height: 80px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 56px;
    color: black;
}

@media screen and (max-width: 1200px) {
    .score-tag {
        font-size: 42px;
    }

    .score-holder {
        height: 75px;
        width: 150px;

        font-size: 48px;
        line-height: 60px;
    }
}

@media screen and (max-width: 990px) {
    .score-tag {
        font-size: 28px;
    }

    .score-holder {
        height: 50px;
        width: 100px;

        font-size: 28px;
        line-height: 35px;
    }
}

@media screen and (max-width: 768px) {
    .score-tag {
        font-size: 20px;
    }
}

/*-------------------------------------------------------------*/
/*                        Footer                               */
/*-------------------------------------------------------------*/

footer {
    margin-top: 15px;
    height: 100px;

    background-color: #e0a224;
}