@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*-------------------------------------------------------------*/
/*                      My Styles                              */
/*-------------------------------------------------------------*/

/*
.my-container {
    border: 2px solid black;
}

.my-row {
    border: 2px solid red;
}

.my-col {
    border: 2px solid blue;
}
*/

/*-------------------------------------------------------------*/
/*                     Global styles                           */
/*-------------------------------------------------------------*/

body {
    background-color: #fff;
}

#main-container {
    min-width: 95%;

    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.vertical-center {
    text-align: center;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #000;
}

th {
    color: rgb(174, 168, 168);
}

td {
    color: rgb(174, 168, 168);
}

/*-------------------------------------------------------------*/
/*                  Reset and tutorial area                    */
/*-------------------------------------------------------------*/

#main-modes {
    background-color: orange;
    height: 225px;

    border: 15px solid #000;
    border-top-left-radius: 500px;
    border-top-right-radius: 500px;
}

.main-modes-icons {
    font-size: 150px;
    color: #000;

    margin-top: 35px;
}

.main-modes-icons:hover {
    color: #fff;
}

#reset-button {
    position: relative;
    right: -40%;
}

#turorial-icon {
    position: relative;
    right: 40%;
}

/*-------------------------------------------------------------*/
/*                        Game Area                            */
/*-------------------------------------------------------------*/

.startButton {
    background-color: rgb(135, 206, 22);

    width: 150px;
    height: 150px;
    border: 15px solid black;
    border-radius: 50%;

    position: relative;
    right: 0%;
    z-index: 500;
    float: right;
    top: 252px;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 52px;
    color: orange;
}

.color-area {
    max-width: 210px;
    height: 210px;

    border: solid black;
}

.color-btn {
    position: relative;
    z-index: 400;
    float: right;
    right: 0%;
    top: -40px;
    ;
}

.redButton {
    border-width: 35px 10px 10px 35px;
    border-top-left-radius: 210px;

    margin-top: 4px;

    background-color: #ab0a0a;
}

.blueButton {
    border-width: 35px 35px 10px 10px;
    border-top-right-radius: 210px;

    margin-top: 4px;

    background-color: #080694;
}

.greenButton {
    border-width: 10px 10px 35px 35px;
    border-bottom-left-radius: 210px;

    background-color: #096315;
}

.yellowButton {
    border-width: 10px 35px 35px 10px;
    border-bottom-right-radius: 210px;

    background-color: #979908;
}

/*------------------- Mode and highscore buttons --------------------*/

.button-are {
    background-color: #000;
    height: 200px;
}

.btns {
    width: 250px;
    height: 125px;

    border: 5px solid rgb(174, 168, 168);
    border-radius: 50px;

    background-color: #000;

    margin-top: 35px;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 52px;
    color: rgb(174, 168, 168);
}

.btns:hover {
    border: 5px solid #000;

    background-color: #e0a224;
    color: #000;
}

#high-score-area {
    background-color: orange;
    margin-right: -10px;
    height: 300px;
}

#high-score-big {
    font-size: 40px;
}

/*-------------------------------------------------------------*/
/*                        Footer                               */
/*-------------------------------------------------------------*/

#footer {
    background-color: orange;
    height: 200px;

    border: 15px solid #000;
    border-bottom-left-radius: 500px;
    border-bottom-right-radius: 500px;
}

#feedback-button {
    position: relative;
    right: -25%;
    bottom: 20px;
}

.feedback-form-input {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

    width: 100%;
    border-radius: 5px;

    margin-top: 10px;
}

/*-------------------------------------------------------------*/
/*                    Small screens                            */
/*-------------------------------------------------------------*/

@media screen and (max-width: 1055px) {

    .btns {
        margin-top: 45px;

        width: 200px;
        height: 100px;

        font-size: 42px;
    }

    .main-modes-icons {
        margin-top: 55px;

        font-size: 100px;
        color: #000;
    }

    #high-score-big {
        font-size: 36px;
    }
}

@media screen and (max-width: 992px) {
    .startButton {
        width: 100px;
        height: 100px;

        top: 282px;

        font-size: 38px;
    }

    .color-area {
        max-width: 175px;
        height: 175px;
    }

    .color-btn {
        position: relative;
        z-index: 400;
        float: right;
        right: 0%;
        top: 50px;
    }

    .redButton {
        border-top-left-radius: 175px;
    }

    .blueButton {
        border-top-right-radius: 175px;
    }

    .greenButton {
        border-bottom-left-radius: 175px;
    }

    .yellowButton {
        border-bottom-right-radius: 175px;
    }
}

@media screen and (max-width: 900px) {

    .show-big-screen {
        display: none;
    }

    .startButton {

        width: 95px;
        height: 95px;
        border-width: 15px;

        right: 0%;
        top: 57px;

        font-weight: 500;
        font-size: 36px;
    }

    .color-area {
        max-width: 175px;
        height: 175px;
    }

    .small-color-btn {
        position: relative;
        z-index: 400;
        float: right;
        right: 0%;
        top: -175px;
    }

    .redButton {
        border-width: 15px 10px 10px 15px;
        border-top-left-radius: 175px;
    }

    .blueButton {
        border-width: 15px 15px 10px 10px;
        border-top-right-radius: 175px;
    }

    .greenButton {
        border-width: 10px 10px 15px 15px;
        border-bottom-left-radius: 175px;
    }

    .yellowButton {
        border-width: 10px 15px 15px 10px;
        border-bottom-right-radius: 175px;
    }
}

@media screen and (min-width: 899.98px) {

    .show-small-screen {
        display: none;
    }
}

#bar-button {
    border: none;
    background-color: transparent;

    height: 100px;

    padding: 0;
}

#small-turorial-icon {
    font-size: 150px;
    color: rgb(174, 168, 168);

    background-color: #000;

    border: 5px solid rgb(174, 168, 168);
    border-radius: 50%;

    margin-top: 0px;
}

#small-turorial-icon:hover {
    border: 5px solid #000;

    background-color: #fff;
    color: #000;
}

#small-mode-button {
    width: 250px;
    height: 125px;

    border: 5px solid rgb(174, 168, 168);
    border-radius: 50px;

    background-color: #000;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 52px;
    color: rgb(174, 168, 168);
}

#small-mode-button:hover {
    border: 5px solid #000;
    border-radius: 50px;

    background-color: #fff;
    color: #000;
}

#small-high-score-button {
    width: 150px;
    height: 75px;

    border: 5px solid rgb(174, 168, 168);
    border-radius: 50px;

    background-color: #000;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 26px;
    color: rgb(174, 168, 168);
}

@media screen and (max-width: 750px) {

    .main-modes-icons {
        font-size: 50px;
    }

    #reset-button {
        margin-top: 75px;
        right: 0%;
    }

    #small-turorial-icon {
        font-size: 150px;
        color: rgb(174, 168, 168);

        background-color: #000;

        border: 5px solid rgb(174, 168, 168);
        border-radius: 50%;

        margin-top: 0px;
    }

    #small-turorial-icon:hover {
        border: 5px solid #000;

        background-color: #fff;
        color: #000;
    }

    #small-mode-button {
        width: 250px;
        height: 125px;

        border: 5px solid rgb(174, 168, 168);
        border-radius: 50px;

        background-color: #000;

        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 52px;
        color: rgb(174, 168, 168);
    }

    #small-mode-button:hover {
        border: 5px solid #000;
        border-radius: 50px;

        background-color: #fff;
        color: #000;
    }

    #small-high-score-button {
        width: 90px;
        height: 45px;

        font-size: 12px;

        margin-bottom: 50px;
    }

    .startButton {

        width: 75px;
        height: 75px;
        border-width: 8px;

        right: 0%;
        top: 72px;

        font-weight: 500;
        font-size: 36px;
    }

    .color-area {
        max-width: 125px;
        height: 125px;
    }

    .small-color-btn {
        position: relative;
        z-index: 400;
        float: right;
        right: 0%;
        top: -100px;
        ;
    }

    .redButton {
        border-width: 10px 5px 5px 10px;
        border-top-left-radius: 125px;
    }

    .blueButton {
        border-width: 10px 10px 5px 5px;
        border-top-right-radius: 125px;
    }

    .greenButton {
        border-width: 5px 5px 10px 10px;
        border-bottom-left-radius: 125px;
    }

    .yellowButton {
        border-width: 5px 10px 10px 5px;
        border-bottom-right-radius: 125px;
    }
}

/* Tutorial */

.modal-content {
    background-color: rgb(36, 31, 31);
    border: 5px solid black;
    border-radius: 5px;
    color: rgb(218, 209, 209);
}

.btn-close {
    background-color: rgb(218, 209, 209);
}

#tutorial-explanations {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 35px;
}

.explanation-icons {
    font-size: 22px;
}

.tutorial-btns {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: rgb(174, 168, 168);

    height: 25px;
    width: 75px;
    background-color: #000;

    border: 2px solid rgb(174, 168, 168);
    border-radius: 35px;

    line-height: 2px;
}

.tutorial-start {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 3px solid #000;
    background-color: orange;
}

.model-buttons {
    margin-top: 15px;
}